/**
 * Author TIMSET
 * http://timset.ru
 * 02.2021
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
picture,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
bdi,
bdo,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
dialog,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
main,
section,
summary,
time,
mark,
audio,
video,
button,
datalist,
map {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}

/* ::before, ::after not reset */

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
}

html {
    color: #000;
    background: #FFF;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

br {
    clear: both;
    line-height: 0;
    height: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

input::-ms-clear {
    display: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}